.content-block {
    display: flex;
    width: var(--block-width);
    margin: var(--block-gap);
    gap: 1em;
    background-color: white;
    padding: 1em;
    border: 1px solid rgba(53, 184, 190, 0.15);
    border-radius: 6px;
}

.content-block__image {
    align-self: center;
}

.content-block__item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.content-block__item-info {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    align-items: center;
}

.content-block__name {
    letter-spacing: 1px;
}

.content-block__price {
    color: var(--page-color);
    font-size: 0.8rem;
}

.content-block__item-description {
    font-size: 0.8rem;
    color: rgba(84, 98, 133, 1);
}

.content-block__item-cart {
    display: flex;
    gap: 0.8em;
}

.content-block__item-count {
    border: 1px solid rgba(221, 221, 221, 1);
    background: rgba(250, 250, 250, 1);
    height: 100%;
    aspect-ratio: 1/ 1;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}