
.navbar-wrapper {
    display: flex;
    align-items: center;
}

.navbar-wrapper > * + * {
    margin-left: 4em;
}

.navbar {
    display: flex;
}

.navbar__element + .navbar__element {
    margin-left: 1em;
}


/*Here is a fool style, I just did it to make the navbar similar to the design*/
.navbar__element:nth-child(2) {
    color: var(--page-color);
}