.footer__bottom {
    margin-top: 7em;
    padding-top: 3em;
    border-top: 1px solid rgba(126, 130, 143, 0.09);
    display: flex;
    justify-content: space-between;
}

.footer__social-media {
    display: flex;
    gap: 1.5em;
}