.main {
    background-image: url("../../assets/IMAGEbackground.png");
    padding: 7em 5em 5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.main__heading {
    font-size: 2.7rem;
    color: var(--page-color);
}

.main__subtitle {
    max-width: 45%;
    text-align: center;
    font-size: 0.9rem;
    color: rgba(84, 98, 133, 1);
    position: relative;
}

.content {
    --block-gap: 0.5em;
    display: flex;
    flex-wrap: wrap;
    --block-width: calc(100% / 2 - var(--block-gap) * 2);
}

.tool-tip {
    position: absolute;
    background-color: aliceblue;
    border: 1px solid rgba(84, 98, 133, 1);
    border-radius: 6px;
    padding: 0.2em 0.3em;
}