.main__button {
    border: 1px rgba(128, 128, 128, 0.5) solid;
    border-radius: 6px;
    padding: 1em 2.5em;
    font-size: 0.7rem;
    cursor: pointer;
    letter-spacing: 1px;
}

.main__button + .main__button {
    margin-left: 2em;
}