.footer {
    padding: 5em 3em 3em;
    background-image: url("../../assets/IMAGEfooter.png");
}

.footer__info-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    color: rgba(84, 98, 133, 1);
}

.footer__info-text {
    margin-top: 1em;
}

.footer__info > p + p {
    margin-top: 0.5em;
}

.footer__column-wrapper {
    display: flex;
    gap: 5em;
}